img{
  width: 1600px; height: 1000px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 30px;
  color: rgb(201, 198, 198);
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: rgb(253, 253, 253);
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #4CAF50; 
}
.h2pri {
  border: 0px;
  size: 100px;
}
.h2 {
  border: 200px;
  display: flex;
}