*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}
body{
background:#edf4f9;
display:flex;
flex-direction:column;
align-items:center;
}
header{
background:#0f7dc2;
color:white;
width:100%;
padding:30px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}
.logo{
font-size:45px;
margin-bottom:10px;
}
.caixa{
margin-top:40px;
display:flex;
gap:15px;
}
input{
width:250px;
padding:15px;
border-radius:10px;
border:1px solid #ccc;
font-size:18px;
}
button{
padding:15px 30px;
background:#0f7dc2;
border:none;
color:white;
font-size:18px;
border-radius:10px;
cursor:pointer;
transition:.3s;
}
button:hover{
background:#095d91;
}
#resultado{
display:none;
margin-top:40px;
width:500px;
}
.card{
background:white;
margin-top:15px;
padding:20px;
border-radius:15px;
box-shadow:0 4px 10px rgba(0,0,0,.15);
text-align:center;
}
.card h1{
font-size:45px;
color:#0f7dc2;
}
.barra{
margin-top:30px;
background:#ddd;
height:30px;
border-radius:30px;
overflow:hidden;
}
#progresso{
height:30px;
width:0%;
background:#29b64a;
transition:1s;
}
@media(max-width:600px){
#resultado{
width:90%;
}
.caixa{
flex-direction:column;
width:90%;
}
input{
width:100%;
}
button{
width:100%;
}
}